
.logo{
	padding: 10px;
	width: 80px;	
}

header{
	height: 75px;
	background:#ff926b;
}
body{
	background-color: #03071e;
}

nav ul{
	float: right;
	margin-right: 20px;
	padding: 20px;
}
nav ul li{
	display: inline-block;
}
nav ul li a{
	padding: 10px;
	color: #607d8b;
	text-transform: uppercase;
}
.splash{
	width:100%;
	height:100vh; 
	background:url(../images/back.jpg) center center fixed;
	background-size:cover;
}

.splash h1{
	font-family: 'Shadows Into Light', cursive;
	color: black;
	text-align: center;
	margin-top: 50px;
	background:#FFF3CD;
	padding: 10px;
	border:solid;
	border-color:#99b898;
	display: inline-block;
	border-radius: 45px;
}
.splash .btn{
	text-align: center;
	padding: 15px;
	background-color:#ff926b;
}
.centrado{
	text-align: center;
}


.col-md-3{
	width: 25%;
	padding: 20px;
 text-align: center;
 display: inline-block;
 float: left;
background:#99b898;
}
#letritas{
	background-color: #03071e;
	text-align: center;

}
i{
	color:#ff926b;
}

.pintadito{
	background:#999;
	padding: 1px;
	font-family: 'Chelsea Market', cursive;
	text-align: center;
	border-radius: 15px;
}
.frases i {
	font-size: 100px;

}
.frases h2{
	padding: 30px;

}
.content{
padding: 20px;
}
.espacios{
padding-top: 100px;
padding-bottom: 100px;
color:#edf2f4;

}


.col-md-12 {
	background:#99b898;
	font-family: 'Shadows Into Light', cursive;
}
